<div class="displayDiv" id="form">
  <div id="formfile">
    <input
      class="form-control form-control-lg"
      id="formFileLg"
      type="file"
      (change)="fileChangeEvent($event)"
    />
  </div>

  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  >
  </image-cropper>
  <button
    class="btn btn-primary mb-2"
    *ngIf="selectedFile"
    (click)="uploadCrop()"
  >
    Crop Image
  </button>

  <div *ngIf="ImageProcessed">
    <h3 class="h3">Image Rognée</h3>
    <img [src]="ImageProcessed" alt="Loaded Image" />
  </div>
</div>
