<header>
  <!-- NavBar -->
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top"
  >
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold" href="#" style="width: 100%"
        ><img
          src="assets/Geomatys.png"
          width="100px"
          height="50px"
          style="color: #f54242"
        />
        <span class="textBlur" style="margin-left: 30%">Crop Image </span></a
      >
    </div>
  </nav>
</header>

<app-display-image> </app-display-image>
